spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/My-Security?useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: Ww920109
  main:
    allow-bean-definition-overriding: true
  redis:
    host: localhost
    port: 6379
  session:
    store-type: redis
#开启Mybatis下划线命名转驼峰命名
mybatis:
  configuration:
    map-underscore-to-camel-case: true

##  启动mysql打印，包路径为mapper文件包路径
logging:
  level:
    com.amt.mysecurity.mapper: DEBUG

# session 过期时间，单位：秒
server:
  servlet:
    session:
      timeout: 360

